<div class="quizz-container">
  <div class="quizz-logo">
    <img src="/assets/imgs/logo.png" width="400" alt="" srcset="" />
    <h3>{{ title }}</h3>
  </div>
  @if(!isFinished) {
  <div class="quizz-questions">
    <h3>{{ question }}</h3>
  </div>

  <div class="quizz-options">
    @for (option of options[0]; track $index) {
    <button (click)="getAnswers(option.alias)" class="btn-option" value="value">
      {{ option.name }}
    </button>
    }
  </div>
  }
  <div class="quizz-result">
    @if(isFinished) {
    <h1>O seu resultado é:</h1>
    <p>Resposta selecionada</p>
    }
  </div>
</div>
