.quizz-container {
  @apply text-center;
}

.quizz-logo {
  align-items: center;
  @apply flex flex-col;
}

.quizz-logo h3 {
  @apply font-semibold text-3xl mt-10;
}

.quizz-questions {
  @apply p-4 text-5xl;
}

.quizz-options {
  width: 800px;
  @apply flex flex-wrap justify-center gap-1 m-5;
}

.btn-option {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 18px 80px;
  @apply flex text-2xl font-semibold;
}

.btn-option:hover {
  background-color: rgb(98, 175, 21);
}
